@import "tailwindcss";
@source "../views";

/* Ici j'ai informé des quelques div qui sont communes à plusieurs pages, pour éviter de CTRL C CTRL V de pages en pages */

.clearsection{
    background-color: #e5c78f;
    position: relative;
}

.darksection{
    background-color: #1a4061;
    position: relative;
    min-height: calc(100vh - 287px);;
}

.container{
    max-width: 1160px;
    padding: 35px;
    width: 100%;
    margin: 0 auto;
}

h1{
    font-size: 30px;
    text-align: center;
    color: #168ebd;
    font-weight: bold;
    text-decoration: underline;
}

h2{
    color: #b38e4a;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}